header {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.crew_bg {
  background: url("/src/assets/crew/background-crew-tablet.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* Crew Hero*/

.crew_hero {
  height: 100%;
  padding-top: 6rem;
  max-width: 600px;
  margin: auto;
}

.crew_hero .m_heading {
  color: var(--grey);
  text-transform: uppercase;
  font-family: var(--font_primary);
  letter-spacing: 0.12rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
}

.crew_hero .m_heading > span {
  color: var(--gray);
}

.crew_hero .content {
  width: 80%;
  margin: auto;
  max-width: 420px;
  overflow: hidden;
}

.crew_hero .content .img_box {
  width: 150px;
  margin: 1rem 0 -0.3rem 0;
}
.crew_hero .content .img_box img {
  width: 100%;
  object-fit: contain;
}

.crew_hero .content .crew_infos {
  border-top: 1px solid #45495e;
  z-index: 3;
}

.crew_hero .content .crew_infos .slide_bullets {
  /* background-color: green; */
  padding: 1rem 3rem;
}

.crew_hero .content .crew_infos .slide_bullets .bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 0.3rem;
  cursor: pointer;
}

.crew_hero .content .crew_infos .slide_bullets .bullet.active {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 600px) {
  .crew_bg {
    background: url("/src/assets/crew/background-crew-desktop.jpg") no-repeat;
  }
  .crew_hero .m_heading {
    text-align: left;
  }
  .crew_hero .content {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
  .crew_hero .content .img_box {
    width: 80%;
  }
  .crew_hero .content .crew_infos {
    flex-direction: column-reverse;
    border: none;
  }
}

@media screen and (min-width: 900px) {
  .crew_hero {
    width: 100%;
    /* background-color: orchid; */
    max-width: 900px;
  }
  .crew_hero .content {
    /* background-color: orange; */
    width: 100%;
    max-width: 900px;
    padding: 0 2rem;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .crew_hero .content .img_box {
    /* background-color: olivedrab; */
    height: 100%;
    max-width: 380px;
  }
  .crew_hero .content .crew_infos {
    /* background-color: rgb(4, 51, 51); */
    height: 100%;
    align-items: flex-start;
  }
  .crew_hero .content .crew_infos .slide_bullets {
    padding: 3rem 0;
  }
  .crew_hero .content .crew_infos .details {
    /* background-color: tomato; */
    max-width: 500px;
    margin-right: 3rem;
    align-items: flex-start;
  }

  .crew_hero .content .crew_infos .details .crew_job {
    font-size: 1.5rem;
  }
  .crew_hero .content .crew_infos .details .crew_name {
    font-size: 2.6rem;
  }
  .crew_hero .content .crew_infos .details .crew_desc {
    font-size: 1rem;
    text-align: left;
  }
}
