header {
  min-height: 100vh;
  overflow: hidden;
}

.home_bg {
  background: url("/src/assets/home/background-home-tablet.jpg") no-repeat;
  position: relative;
  background-position: center;
}
/* Hero Section styling*/

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  max-width: 600px;
  margin: auto;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.hero .m_heading {
  color: #d2d8f9;
  text-transform: uppercase;
  font-family: var(--font_primary);
  letter-spacing: 0.09rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.hero .content .heading {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--font_sec);
  font-weight: 400;
  margin: 1rem 0 1.2rem 0;
}

.hero .content .description {
  color: #d2d8f9;
  font-family: var(--font_third);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0 1.3rem;
}

.hero .explore {
  width: 9rem;
  height: 9rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  cursor: pointer;
  transition: border 0.5s ease-in-out;
  position: relative;
  z-index: 2;
}

.hero .explore::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  z-index: -1;
  transition: all 1s ease;
}

.hero .explore:hover::before {
  background: rgba(255, 255, 255, 0.6);
  width: 150%;
  height: 150%;
}
.hero .explore span {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--black);
  font-family: var(--font_sec);
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .home_bg {
    background: url("/src/assets/home/background-home-desktop.jpg") no-repeat;
  }
  .hero {
    flex-direction: row;
    max-width: 900px;
    margin: auto;
  }
  .hero .content {
    align-items: unset;
    max-width: 25rem;
    padding-right: 0;
  }
  .hero .content .m_heading {
    font-size: 1.8rem;
    padding-left: 3rem;
  }
  .hero .content .heading {
    font-size: 7rem;
    text-align: left;
    padding-left: 3rem;
  }
  .hero .content .description {
    text-align: left;
    padding-left: 3rem;
  }
  .hero .explore {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .hero .content {
    max-width: 35rem;
  }
  .hero .content .description {
    max-width: 26rem;
  }
  .hero .explore {
    margin: 0 3rem 0 3rem;
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 900px) {
  .hero .explore {
    margin: 0 3rem 0 15rem;
  }
}
